In [1]:
# Importando as bibliotecas utilizadas
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [3]:
# Criando a sessão, nomeando e configurando para mostrar tabela do tipo pandas 
spark = (
    SparkSession.builder
    .appName('PySpark - Funções Numéricas')
    .config('spark.sql.repl.eagerEval.enabled', True)
    .getOrCreate()
)

In [4]:
# Carregando um arquivo PARQUET para dataframe
df = spark.read.parquet('./DATASETS/IMC.parquet')

In [5]:
df

+--------------------+------+------+
|                nome|altura|  peso|
+--------------------+------+------+
|    Pietra Fernandes|   176| 97.88|
|   Ana Júlia da Rosa|   163| 80.56|
|    Fernando Martins|   150| 85.55|
|       Isis Silveira|   173|  70.1|
|       Cecília Porto|   190| 93.42|
|  Sra. Bruna Almeida|   198| 73.07|
|   Maria Julia Silva|   170| 71.36|
|Pedro Henrique da...|   188|105.57|
|   Davi Lucas Campos|   180| 98.49|
|      Juan Gonçalves|   175| 71.87|
+--------------------+------+------+

In [9]:
# Arrendodamentos
(
    df
    .withColumn('arrendodamento', F.round(F.col('peso'), 1))
    .withColumn('teto', F.ceil(F.col('peso')))
    .withColumn('piso', F.floor(F.col('peso')))
)

+--------------------+------+------+--------------+----+----+
|                nome|altura|  peso|arrendodamento|teto|piso|
+--------------------+------+------+--------------+----+----+
|    Pietra Fernandes|   176| 97.88|          97.9|  98|  97|
|   Ana Júlia da Rosa|   163| 80.56|          80.6|  81|  80|
|    Fernando Martins|   150| 85.55|          85.6|  86|  85|
|       Isis Silveira|   173|  70.1|          70.1|  71|  70|
|       Cecília Porto|   190| 93.42|          93.4|  94|  93|
|  Sra. Bruna Almeida|   198| 73.07|          73.1|  74|  73|
|   Maria Julia Silva|   170| 71.36|          71.4|  72|  71|
|Pedro Henrique da...|   188|105.57|         105.6| 106| 105|
|   Davi Lucas Campos|   180| 98.49|          98.5|  99|  98|
|      Juan Gonçalves|   175| 71.87|          71.9|  72|  71|
+--------------------+------+------+--------------+----+----+

In [16]:
# Valor absoluto 
(
    df
    .withColumn('negativo', -F.col('altura'))
    .withColumn('absoluto', F.abs(F.col('negativo')))
)

+--------------------+------+------+--------+--------+
|                nome|altura|  peso|negativo|absoluto|
+--------------------+------+------+--------+--------+
|    Pietra Fernandes|   176| 97.88|    -176|     176|
|   Ana Júlia da Rosa|   163| 80.56|    -163|     163|
|    Fernando Martins|   150| 85.55|    -150|     150|
|       Isis Silveira|   173|  70.1|    -173|     173|
|       Cecília Porto|   190| 93.42|    -190|     190|
|  Sra. Bruna Almeida|   198| 73.07|    -198|     198|
|   Maria Julia Silva|   170| 71.36|    -170|     170|
|Pedro Henrique da...|   188|105.57|    -188|     188|
|   Davi Lucas Campos|   180| 98.49|    -180|     180|
|      Juan Gonçalves|   175| 71.87|    -175|     175|
+--------------------+------+------+--------+--------+

In [13]:
# Potência e Raiz
(
    df
    .withColumn('potencia', F.pow(F.col('peso'), 2))
    .withColumn('raiz', F.sqrt(F.col('peso')))
)

+--------------------+------+------+------------------+------------------+
|                nome|altura|  peso|          potencia|              raiz|
+--------------------+------+------+------------------+------------------+
|    Pietra Fernandes|   176| 97.88|         9580.4944|  9.89343216482531|
|   Ana Júlia da Rosa|   163| 80.56| 6489.913600000001|  8.97552226892675|
|    Fernando Martins|   150| 85.55|         7318.8025| 9.249324299644812|
|       Isis Silveira|   173|  70.1| 4914.009999999999| 8.372574275573792|
|       Cecília Porto|   190| 93.42| 8727.296400000001| 9.665402216152208|
|  Sra. Bruna Almeida|   198| 73.07| 5339.224899999999| 8.548099203916623|
|   Maria Julia Silva|   170| 71.36|         5092.2496|  8.44748483277715|
|Pedro Henrique da...|   188|105.57|11145.024899999999|10.274726273726225|
|   Davi Lucas Campos|   180| 98.49| 9700.280099999998| 9.924212815130478|
|      Juan Gonçalves|   175| 71.87|         5165.2969| 8.477617589865682|
+--------------------+------+------+------------------+------------------+

In [15]:
# Calculo do IMC
(
    df
    .withColumn('imc', F.round(F.pow(F.col('peso'), 2) / F.col('altura'), 2))
)

+--------------------+------+------+-----+
|                nome|altura|  peso|  imc|
+--------------------+------+------+-----+
|    Pietra Fernandes|   176| 97.88|54.43|
|   Ana Júlia da Rosa|   163| 80.56|39.82|
|    Fernando Martins|   150| 85.55|48.79|
|       Isis Silveira|   173|  70.1| 28.4|
|       Cecília Porto|   190| 93.42|45.93|
|  Sra. Bruna Almeida|   198| 73.07|26.97|
|   Maria Julia Silva|   170| 71.36|29.95|
|Pedro Henrique da...|   188|105.57|59.28|
|   Davi Lucas Campos|   180| 98.49|53.89|
|      Juan Gonçalves|   175| 71.87|29.52|
+--------------------+------+------+-----+