In [1]:
# Importando as bibliotecas utilizadas
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [3]:
# Criando a sessão, nomeando e configurando para mostrar tabela do tipo pandas 
spark = (
    SparkSession.builder
    .appName('PySpark - Simulado')
    .config('spark.sql.repl.eagerEval.enabled', True)
    .getOrCreate()
)

In [106]:
# Carregando os arquivos
titanic = spark.read.csv('./datasets/titanic/train.csv', header=True)
mall = spark.read.csv('./datasets/Mall_Customers.csv', header=True)

In [35]:
titanic

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|     13| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [107]:
# Qual a proporção de sobreviventes em relação ao total de passageiros a bordo do Titanic? 
sobreviventes = titanic.where(titanic.Survived == 1).count()
total_passageiros = titanic.count()
sobreviventes / total_passageiros * 100

38.38383838383838

In [91]:
# Qual a média de idade dos passageiros que não sobreviveram?
titanic.where(titanic.Survived == 0).agg(F.avg(titanic.Age)).collect()[0][0]

30.62617924528302

In [104]:
# Quantos passageiros da terceira classe sobreviveram ao naufrágio?
qtd_3classe_subrev = titanic.where((titanic.Pclass == 3) & (titanic.Survived == 1)).count()
qtd_3classe_subrev

119

In [89]:
# Qual a porcentagem de mulheres sobreviventes em relação ao total de mulheres a bordo do Titanic?
total_mulheres = titanic.where(titanic.Sex == 'female').count()
mulheres_sobreviventes = titanic.where((titanic.Sex == 'female') & (titanic.Survived == 1)).count()
mulheres_sobreviventes / total_mulheres * 100

74.20382165605095

In [113]:
# Qual foi o preço médio da passagem dos passageiros que sobreviveram ao naufrágio?
titanic.where(titanic.Survived == 1).agg(F.avg('Fare')).collect()[0][0]

48.39540760233917

In [108]:
# Qual a quantidade de passageiros que embarcaram no Titanic? 
total_passageiros

891

In [109]:
# Qual a proporção de passageiros do sexo masculino em relação ao total de passageiros?
homens = titanic.where((titanic.Sex == 'male')).count()
homens / total_passageiros * 100

64.75869809203144

In [110]:
# Qual a proporção de passageiros da terceira classe que sobreviveram?
qtd_3classe_subrev / total_passageiros * 100

13.35578002244669

In [114]:
mall

+----------+------+---+------------------+----------------------+
|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
|         6|Female| 22|                17|                    76|
|         7|Female| 35|                18|                     6|
|         8|Female| 23|                18|                    94|
|         9|  Male| 64|                19|                     3|
|        10|Female| 30|                19|                    72|
|        11|  Male| 67|                19|                    14|
|        12|Female| 35|                19|                    99|
|        13|Female| 58|                20|                    15|
|        14|Female| 24|                20|                    77|
|        15|  Male| 37|                20|                    13|
|        16|  Male| 22|                20|                    79|
|        17|Female| 35|                21|                    35|
|        18|  Male| 20|                21|                    66|
|        19|  Male| 52|                23|                    29|
|        20|Female| 35|                23|                    98|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

In [124]:
# Qual é a média de idade dos clientes no Shopping?
mall.agg(F.avg('Age')).collect()[0][0]

38.85

In [125]:
# Quantas mulheres são clientes do Shopping? 
mall.where(mall.Gender == 'Female').count()

112

In [127]:
# Qual é a média de renda anual dos clientes?
mall.agg(F.avg('Annual Income (k$)')).collect()[0][0]

60.56

In [128]:
# Qual é o desvio padrão da idade dos clientes?
mall.agg(F.std('Age')).collect()[0][0]

13.96900733155888

In [132]:
# Quantos clientes têm uma renda anual superior a 80 mil? 
mall.where(F.col('Annual Income (k$)') > 80).count()

38

In [133]:
# Qual é a moda da pontuação de gastos dos clientes?
mall.agg(F.mode('Spending Score (1-100)')).collect()[0][0]

'42'