In [2]:
# Importando as bibliotecas utilizadas
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [4]:
# Criando a sessão, nomeando e configurando para mostrar tabela do tipo pandas 
spark = (
    SparkSession.builder
    .appName('PySpark - Group By')
    .config('spark.sql.repl.eagerEval.enabled', True)
    .getOrCreate()
)

In [6]:
# Carregando um arquivo PARQUET para dataframe
df = spark.read.parquet('./DATASETS/LOGINS.parquet')

In [12]:
# Agrupando dados pela cor, contando os valores de cada
df.groupBy('cor_favorita').count()

+------------+-----+
|cor_favorita|count|
+------------+-----+
|       Preto|   57|
|     Violeta|   47|
|        Rosa|   81|
|      Marrom|   62|
|       Ciano|   59|
|     Laranja|   53|
|        Azul|   76|
| Verde Claro|   66|
|        Roxo|   64|
|      Branco|   66|
|Verde Escuro|   65|
| Azul Escuro|   62|
|       Verde|   53|
|     Magenta|   54|
|       Cinza|   75|
|     Amarelo|   60|
+------------+-----+

In [13]:
# Agrupando duas colunas
df.groupBy('estado', 'cor_favorita').count()

+------+------------+-----+
|estado|cor_favorita|count|
+------+------------+-----+
|    AM|       Cinza|    2|
|    MA|       Ciano|    1|
|    AC|       Ciano|    1|
|    RS|        Roxo|    1|
|    RJ|        Azul|    4|
|    ES| Verde Claro|    2|
|    CE|        Azul|    5|
|    AM|      Marrom|    6|
|    AP|       Preto|    2|
|    MA|Verde Escuro|    2|
|    SP| Verde Claro|    7|
|    GO|      Branco|    2|
|    RN|     Amarelo|    1|
|    PR|       Verde|    1|
|    DF|       Ciano|    1|
|    PA|     Laranja|    3|
|    TO|        Rosa|    3|
|    TO|      Branco|    1|
|    RJ|       Preto|    2|
|    RO|     Amarelo|    1|
+------+------------+-----+
only showing top 20 rows

In [30]:
# Outros comando além do count (exemplo)
df.groupBy('estado').sum() # soma
df.groupBy('estado').avg() # média
df.groupBy('estado').min() # mínimo
df.groupBy('estado').max() # máximo

+------+
|estado|
+------+
|    SC|
|    RO|
|    PI|
|    AM|
|    RR|
|    GO|
|    TO|
|    MT|
|    SP|
|    ES|
|    PB|
|    RS|
|    MS|
|    AL|
|    MG|
|    PA|
|    BA|
|    SE|
|    PE|
|    CE|
+------+
only showing top 20 rows

In [34]:
# Agrupando por ano de nascimento
df.groupBy(F.year('data_de_nascimento')).count()

+------------------------+-----+
|year(data_de_nascimento)|count|
+------------------------+-----+
|                    1959|    8|
|                    1990|    7|
|                    1975|    7|
|                    1977|    5|
|                    1924|    9|
|                    2003|    7|
|                    2007|   12|
|                    2018|   13|
|                    1974|    7|
|                    2015|    9|
|                    2023|    2|
|                    1927|    6|
|                    1955|   13|
|                    2006|   14|
|                    2022|    9|
|                    1978|    6|
|                    1908|    8|
|                    1925|    7|
|                    1961|    7|
|                    2013|    9|
+------------------------+-----+
only showing top 20 rows